In [1]:
def bekar_func():
    pass

In [4]:
def greetings():
    print('ðŸ˜’ðŸ˜’'*5)
    print('Congratulations')
    print('ðŸ¦–'*5)

In [6]:
greetings()

ðŸ˜’ðŸ˜’ðŸ˜’ðŸ˜’ðŸ˜’ðŸ˜’ðŸ˜’ðŸ˜’ðŸ˜’ðŸ˜’
Congratulations
ðŸ¦–ðŸ¦–ðŸ¦–ðŸ¦–ðŸ¦–

In [7]:
from random import choice
def roll_dice():
    options = ['1','2','3','4','5','6']
    return choice(options)

In [8]:
print(roll_dice())
print(roll_dice())

4
6

In [9]:
ans = roll_dice()
print(f'You rolled {ans}')

You rolled 4

In [11]:
def factorial(num):
    result = 1
    for n in range(2, num +1):
        result *=n
    return result

In [12]:
fact = factorial(50)
print(fact)

30414093201713378043612608166064768844377641568960512000000000000

In [13]:
def get_final_price(price):
    if price > 5000:
        discount = price * .10 # 10% discount
    elif price > 2000:
        discount = price * .05 # 5% discount
    return price - discount

In [15]:
get_final_price(5600)

5040.0

In [16]:
def check_prime():
    a = 541
    for i in range (2,541):
        if a%i ==0:
            return "not prime"
            break
    else:
        return "prime"

In [17]:
check_prime()

'prime'

In [18]:
war = check_prime()

In [19]:
print(war)

prime

In [20]:
def check_prime(a):
    for i in range(2,a):
        if a % i ==0:
            return "not prime"
    return "prime"

In [21]:
check_prime(7)

'prime'

In [22]:
x = check_prime(120)
print(x)

not prime

In [25]:
def minmaxavg(numlist):
    mn = min(numlist)
    mx = max(numlist)
    avg = sum(numlist) / len(numlist)
    return mn, mx, avg

In [26]:
minmaxavg([12,45,67,78,100])

(12, 100, 60.4)

In [27]:
ans = minmaxavg([12,45,67,78,100])
print(ans)

(12, 100, 60.4)

In [28]:
a,b,c = minmaxavg([12,45,67,78,100])
print(a)
print(b)
print(c)

12
100
60.4

In [29]:
def default_function(a=50,b=100):
    return a+b

In [30]:
default_function()

150

In [31]:
default_function(a=99)

199

In [32]:
default_function(b=255)

305

In [33]:
def multiplier(a, b=1, c=1,d=1):
    return a*b*c*d

In [34]:
multiplier(10)

10

In [35]:
multiplier(2,4,10)

80

In [36]:
multiplier(a=2,d=10,c=2) # named arguments

40

In [37]:
lambda a,b:a+b

In [38]:
adder = lambda a, b:a+b
adder(69,225)

294

In [41]:
def exp(power):
    return lambda l : [a**power for a in l]
four = exp(4)
four([2,4,6,8,10])

[16, 256, 1296, 4096, 10000]

In [42]:
def quad(x):
    return x**2 + x + 1
quad(2)

7

In [43]:
q = lambda x: x**2 + x + 1
print(q(2))
print(q(5))
print(q(50))

7
31
2551

In [44]:
list(map(q,[2,5,6,10,11,23,45]))

[7, 31, 43, 111, 133, 553, 2071]

In [45]:
def get_cube(*args):
    for i in args:
        yield i**3
get_cube()

In [46]:
for i in get_cube(1, 5, 7):
    print(i)

1
125
343

In [47]:
cubes = get_cube(8)

In [48]:
next(cubes)

512