In [1]:
x = (1,2,3)
print(x)

y = (2,5)
print(y)

(1, 2, 3)
(2, 5)

In [3]:
for i in y:
    print(i)

2
5

In [4]:
print(x[0])

1

In [5]:
print(y[-1])

5

In [6]:
a = 1,2,3,4,5,6,9,8,7,5,23,3
print(a[:5])

(1, 2, 3, 4, 5)

In [7]:
print(a.count(1))

1

In [8]:
print(a.count(5))

2

In [9]:
a = {1,2,3,4,5,6}
print(a)

{1, 2, 3, 4, 5, 6}

In [10]:
b = {'apple','banana','orange', 'cherry','custard apple','pomegrnate', 'daragon fruit'}
print(b)

{'banana', 'cherry', 'custard apple', 'apple', 'pomegrnate', 'daragon fruit', 'orange'}

In [11]:
b.add('kiwi')

In [12]:
print(b)

{'banana', 'cherry', 'custard apple', 'apple', 'pomegrnate', 'kiwi', 'daragon fruit', 'orange'}

In [20]:
b.add('blueberry')

In [21]:
print(b)

{'cherry', 'apple', 'kiwi', 'orange', 'achintya chapraasi', 'blueberry', 'daragon fruit', 'banana', 'custard apple', 'pomegrnate'}

In [25]:
x ={1,2,3,4,5,6}
y ={4,5,6,7,8}
print(x|y)
print(x.union(y))
print(x & y)
print(x.intersection(y))
print(x-y)
print(x.difference(y))
print(y-x)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3}
{8, 7}

In [28]:
print(x^y)
print(x.symmetric_difference(y))

{1, 2, 3, 7, 8}
{1, 2, 3, 7, 8}

In [30]:
x = [1,2,3,4,5,6,6,6,77,78,7,87,]
print(x , "<=list")
xs = set(x)
print(xs, ",=set")
xt = tuple(xs)
print(xt,"<=tuple")

[1, 2, 3, 4, 5, 6, 6, 6, 77, 78, 7, 87] <=list
{1, 2, 3, 4, 5, 6, 7, 77, 78, 87} ,=set
(1, 2, 3, 4, 5, 6, 7, 77, 78, 87) <=tuple